# HW4

<b>Instructions:</b> Write your answers in the empty code cells below.

<b>Penalties:</b> You will incur penalties if:
<ul>
<li>Your code is wrong</li>
<li>Your code does not work on different data</li>
<li>Your code is unnecessarily slow (you use a for loop, or you use DataFrame.apply unnecessarily, etc)
</ul>

Start by downloading the file <i>cleaned_survey.csv</i> in the same folder as this .ipynb file. The file contains the results from the student survey.

Then, execute the code below to load the data in a  dataframe <i>df</i>.

In [1]:
import pandas as pd
df = pd.read_csv("cleaned_survey-1.csv", index_col=0)
df.drop(['Expert'],axis=1,inplace=True)
#df.drop(['Languages','Expert'],axis=1,inplace=True)

In [2]:
pd.set_option('display.max_columns',50)

In [3]:
df.head()

,Job,Program,ProgSkills,C,CPP,CS,Java,Python,JS,R,SQL,SAS,Excel,Tableau,Regression,Classification,Clustering,Bach_0to1,Bach_1to3,Bach_3to5,Bach_5Plus,Languages
0,0.0,MSIS,4,1,1,0.0,0,1.0,1.0,0.0,1.0,0.0,1,1,1.0,4,4,0,1,0,0,6
1,0.5,MSIS,3,1,1,0.0,1,0.0,0.0,0.0,1.0,0.0,1,0,0.0,2,2,0,0,0,1,4
2,0.0,MSIS,3,0,0,0.0,1,1.0,0.0,0.0,1.0,0.0,1,0,1.0,3,3,0,0,1,0,3
3,0.0,MSIS,3,1,0,0.0,1,1.0,0.0,1.0,1.0,0.0,1,0,1.0,2,3,0,0,0,1,5
4,0.0,MSIS,3,1,0,0.0,1,1.0,0.0,0.0,1.0,0.0,1,0,0.0,1,1,0,0,1,0,4

### Data Set description

The data set contains one row for every person who filled the survey. We use <b>person</b> and <b>student</b> interchangeably.

<ul>
<li><b>Job</b>: 0 for those students without a job, 0.5 for those students with a part-time job, and 1 for those students with a full-time job
<li><b>Program</b>: program of enrollment
<li><b>C-Regression</b>: indicates whether the student knows (1) or doesn't know (0) a certain programming language or topic
<li><b>Classification</b>: indicates the level of knowledge (1-5) on classification
<li><b>Clustering</b>: indicates the level of knowledge (1-5) on clustering
<li><b>Bach_0to1</b>: 1 if time elapsed from graduation is less than a year; 0 otherwise
<li><b>Bach_1to3</b>: 1 if time elapsed from graduation is between one and three years; 0 otherwise
<li><b>Bach_3to5</b>: 1 if time elapsed from graduation is between three and five years; 0 otherwise
<li><b>Bach_5Plus</b>: 1 if time elapsed from graduation is more than five years; 0 otherwise
</ul>

### Question 1

<p>For each programming skill level, compute:</p>
<ol>
<li><b>PropPJC2</b>:the proportion (0 to 1, computed relatively to the group size) of people that know at least one among Python and Java and their Classification knowledge has to be at least 2. 
<li><b>StdevClust</b>:the standard deviation of the Clustering knowledge (function <i>std</i>)
</ol>
<p>You should return one data frame with one row for each programming skill level and two columns named <b>PropPy_or_Java_and_Class2+</b> and <b>StdevClass</b>. Don't worry about having a Hierarchical Index for the columns.</p> 

(In Camino, pick the correct **PropPy_or_Java_and_Class2+** number for student with ProgSkills = 5 )

In [4]:
df.head(5)

,Job,Program,ProgSkills,C,CPP,CS,Java,Python,JS,R,SQL,SAS,Excel,Tableau,Regression,Classification,Clustering,Bach_0to1,Bach_1to3,Bach_3to5,Bach_5Plus,Languages
0,0.0,MSIS,4,1,1,0.0,0,1.0,1.0,0.0,1.0,0.0,1,1,1.0,4,4,0,1,0,0,6
1,0.5,MSIS,3,1,1,0.0,1,0.0,0.0,0.0,1.0,0.0,1,0,0.0,2,2,0,0,0,1,4
2,0.0,MSIS,3,0,0,0.0,1,1.0,0.0,0.0,1.0,0.0,1,0,1.0,3,3,0,0,1,0,3
3,0.0,MSIS,3,1,0,0.0,1,1.0,0.0,1.0,1.0,0.0,1,0,1.0,2,3,0,0,0,1,5
4,0.0,MSIS,3,1,0,0.0,1,1.0,0.0,0.0,1.0,0.0,1,0,0.0,1,1,0,0,1,0,4

In [5]:
((df.Python ==1) | (df.Java ==1)) & (df.Classification >=2)

0      True
1      True
2      True
3      True
4     False
      ...
56    False
57    False
58    False
59    False
60    False
Length: 61, dtype: bool

In [6]:
df['PropPJC2']=((df.Python ==1) | (df.Java ==1))\
    & (df.Classification >=2)

In [8]:
df.PropPJC2.head()

0     True
1     True
2     True
3     True
4    False
Name: PropPJC2, dtype: bool

In [9]:
df.groupby('ProgSkills').agg({'PropPJC2':'mean','Clustering':'std'})

            PropPJC2  Clustering
ProgSkills
1           0.000000    0.786796
2           0.363636    0.687552
3           0.655172    1.085053
4           0.583333    1.083625
5           0.500000    0.707107

In [10]:
df.groupby('ProgSkills').agg({'PropPJC2':'mean','Clustering':'std'})\
    .rename(columns={'PropPJC2':'PropPy_or_Java_and_Class2+','Clustering':'StdevClust'})

            PropPy_or_Java_and_Class2+  StdevClust
ProgSkills
1                             0.000000    0.786796
2                             0.363636    0.687552
3                             0.655172    1.085053
4                             0.583333    1.083625
5                             0.500000    0.707107

### Question 2

For each program, how many people have a Programming Skill knowledge of less than 4? Report one row for each existing program. 

(In Camino, fill in the number of students for MBA and MSIS in a format of MBA_total/MSIS_total. For example : 10/23 )

In [11]:
df['Prog4Minus']= df.ProgSkills < 4

In [12]:
df.Prog4Minus.head(5)

0    False
1     True
2     True
3     True
4     True
Name: Prog4Minus, dtype: bool

In [13]:
df.groupby('Program')['Prog4Minus'].sum()

Program
Business Man                      1
Faculty!                          1
MBA                              13
MSIS                             30
Master of Finance                 0
Supply Chain Mgmt & Analytics     2
Name: Prog4Minus, dtype: int64

In [17]:
df

,Job,Program,ProgSkills,C,CPP,CS,Java,Python,JS,R,SQL,SAS,Excel,Tableau,Regression,Classification,Clustering,Bach_0to1,Bach_1to3,Bach_3to5,Bach_5Plus,Languages,PropPJC2,Prog4Minus
0,0.0,MSIS,4,1,1,0.0,0,1.0,1.0,0.0,1.0,0.0,1,1,1.0,4,4,0,1,0,0,6,True,False
1,0.5,MSIS,3,1,1,0.0,1,0.0,0.0,0.0,1.0,0.0,1,0,0.0,2,2,0,0,0,1,4,True,True
2,0.0,MSIS,3,0,0,0.0,1,1.0,0.0,0.0,1.0,0.0,1,0,1.0,3,3,0,0,1,0,3,True,True
3,0.0,MSIS,3,1,0,0.0,1,1.0,0.0,1.0,1.0,0.0,1,0,1.0,2,3,0,0,0,1,5,True,True
4,0.0,MSIS,3,1,0,0.0,1,1.0,0.0,0.0,1.0,0.0,1,0,0.0,1,1,0,0,1,0,4,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,1.0,MBA,2,0,0,0.0,1,0.0,1.0,0.0,1.0,0.0,1,1,1.0,1,1,0,0,0,1,3,False,True
57,0.0,MSIS,4,1,0,0.0,1,0.0,0.0,0.0,NaN,1.0,1,1,0.0,1,1,0,0,0,1,3,False,False
58,0.5,MSIS,3,0,1,0.0,1,0.0,0.0,0.0,1.0,0.0,1,1,1.0,1,1,0,0,0,1,3,False,True
59,0.0,MSIS,3,0,0,0.0,1,1.0,0.0,0.0,1.0,0.0,1,1,0.0,1,2,0,0,1,0,3,False,True
60,1.0,MBA,3,1,1,1.0,1,1.0,1.0,0.0,1.0,0.0,1,0,1.0,1,1,0,0,0,1,7,False,True

### Question 3

For each Job, return the rows of those people who, within their group, know the most Languages. (In Camino, pick the correct total number of people who satisfy this condition)

In [18]:
df.groupby('Job').apply(lambda d : d[d.Languages == d.Languages.max()])

        Job Program  ProgSkills  C  CPP   CS  Java  Python   JS    R  SQL  \
Job
0.0 46  0.0    MSIS           4  1    1  1.0     1     1.0  1.0  0.0  1.0
0.5 23  0.5    MSIS           3  1    1  0.0     1     1.0  1.0  0.0  1.0
    50  0.5     MBA           3  0    0  0.0     1     1.0  1.0  1.0  1.0
1.0 45  1.0    MSIS           3  1    1  0.0     1     1.0  1.0  1.0  1.0
    60  1.0     MBA           3  1    1  1.0     1     1.0  1.0  0.0  1.0

        SAS  Excel  Tableau  Regression  Classification  Clustering  \
Job
0.0 46  0.0      1        1         1.0               2           2
0.5 23  0.0      1        1         0.0               2           2
    50  1.0      1        1         1.0               3           3
1.0 45  0.0      0        1         1.0               2           2
    60  0.0      1        0         1.0               1           1

        Bach_0to1  Bach_1to3  Bach_3to5  Bach_5Plus  Languages  PropPJC2  \
Job
0.0 46          0          1          0           0          7      True
0.5 23          0          0          1           0          6      True
    50          0          1          0           0          6      True
1.0 45          0          1          0           0          7      True
    60          0          0          0           1          7     False

        Prog4Minus
Job
0.0 46       False
0.5 23        True
    50        True
1.0 45        True
    60        True

In [19]:
len(df.groupby('Job').apply(lambda d : d[d.Languages == d.Languages.max()]))

5

### Question 4

Let us define the "data science experience" of a given person as the person's largest score among Regression, Classification, and Clustering. Compute the average data science experience among all MSIS students. 
(In Camino, pick the correct number)

In [20]:
df_MSIS = df[df.Program=='MSIS']

In [21]:
df_MSIS.head()

,Job,Program,ProgSkills,C,CPP,CS,Java,Python,JS,R,SQL,SAS,Excel,Tableau,Regression,Classification,Clustering,Bach_0to1,Bach_1to3,Bach_3to5,Bach_5Plus,Languages,PropPJC2,Prog4Minus
0,0.0,MSIS,4,1,1,0.0,0,1.0,1.0,0.0,1.0,0.0,1,1,1.0,4,4,0,1,0,0,6,True,False
1,0.5,MSIS,3,1,1,0.0,1,0.0,0.0,0.0,1.0,0.0,1,0,0.0,2,2,0,0,0,1,4,True,True
2,0.0,MSIS,3,0,0,0.0,1,1.0,0.0,0.0,1.0,0.0,1,0,1.0,3,3,0,0,1,0,3,True,True
3,0.0,MSIS,3,1,0,0.0,1,1.0,0.0,1.0,1.0,0.0,1,0,1.0,2,3,0,0,0,1,5,True,True
4,0.0,MSIS,3,1,0,0.0,1,1.0,0.0,0.0,1.0,0.0,1,0,0.0,1,1,0,0,1,0,4,False,True

In [22]:
df_MSIS.loc[:,['Regression','Clustering','Classification']].max()

Regression        1.0
Clustering        4.0
Classification    4.0
dtype: float64

In [23]:
df_MSIS.loc[:,['Regression','Clustering','Classification']].max(axis=1).head(5)

0    4.0
1    2.0
2    3.0
3    3.0
4    1.0
dtype: float64

In [24]:
df_MSIS['data science experience']=df_MSIS.loc[:,['Regression','Clustering',\
                                                  'Classification']].max(axis=1)

/var/folders/d1/nsbplp0n2xsczhwdbwnb34x40000gn/T/ipykernel_5723/3166994505.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_MSIS['data science experience']=df_MSIS.loc[:,['Regression','Clustering',\

In [25]:
df_MSIS.head()

,Job,Program,ProgSkills,C,CPP,CS,Java,Python,JS,R,SQL,SAS,Excel,Tableau,Regression,Classification,Clustering,Bach_0to1,Bach_1to3,Bach_3to5,Bach_5Plus,Languages,PropPJC2,Prog4Minus,data science experience
0,0.0,MSIS,4,1,1,0.0,0,1.0,1.0,0.0,1.0,0.0,1,1,1.0,4,4,0,1,0,0,6,True,False,4.0
1,0.5,MSIS,3,1,1,0.0,1,0.0,0.0,0.0,1.0,0.0,1,0,0.0,2,2,0,0,0,1,4,True,True,2.0
2,0.0,MSIS,3,0,0,0.0,1,1.0,0.0,0.0,1.0,0.0,1,0,1.0,3,3,0,0,1,0,3,True,True,3.0
3,0.0,MSIS,3,1,0,0.0,1,1.0,0.0,1.0,1.0,0.0,1,0,1.0,2,3,0,0,0,1,5,True,True,3.0
4,0.0,MSIS,3,1,0,0.0,1,1.0,0.0,0.0,1.0,0.0,1,0,0.0,1,1,0,0,1,0,4,False,True,1.0

In [26]:
df_MSIS['data science experience'].mean()

1.875

### Question 5

Among those with at least one year elapsed from their Bachelor's degree, find out who is the "most knowledgeable" person. The most knowledgeable person is the one who knows Classification best (in case of ties, consider whether they know C, then CPP, then CS, then Java, then SAS). Retrieve that person's Program information. (pick the right one in Camino)

In [27]:
df_Bach1to5Plus = df[df.Bach_0to1 != 1]

In [28]:
df_Bach1to5Plus.sort_values(by=['Classification','C','CPP','CS','Java','SAS']\
                        ,ascending=False).head()

,Job,Program,ProgSkills,C,CPP,CS,Java,Python,JS,R,SQL,SAS,Excel,Tableau,Regression,Classification,Clustering,Bach_0to1,Bach_1to3,Bach_3to5,Bach_5Plus,Languages,PropPJC2,Prog4Minus
16,1.0,Faculty!,3,1,1,0.0,1,0.0,0.0,0.0,1.0,1.0,1,1,1.0,4,5,0,0,0,1,3,True,True
32,0.0,MBA,3,1,1,0.0,1,1.0,0.0,1.0,1.0,0.0,1,1,1.0,4,4,0,0,0,1,3,True,True
0,0.0,MSIS,4,1,1,0.0,0,1.0,1.0,0.0,1.0,0.0,1,1,1.0,4,4,0,1,0,0,6,True,False
17,1.0,MBA,4,0,0,0.0,0,1.0,NaN,1.0,1.0,NaN,1,0,1.0,4,4,0,0,0,1,3,True,False
33,0.0,MSIS,3,1,0,0.0,1,0.0,0.0,0.0,1.0,0.0,1,1,0.0,3,3,0,0,1,0,3,True,True

In [29]:
most_knowledge_person = df_Bach1to5Plus.sort_values(by=['Classification','C','CPP','CS','Java','SAS']\
                        ,ascending=False).head(1)

In [30]:
most_knowledge_person.Program.values[0]

'Faculty!'